# Fichiers de l'environnement virtuel
.venv/

# Fichiers de configuration
.gitignore
.gitattributes
.editorconfig

# Fichiers de cache
__pycache__/
*.egg-info/

# Fichiers temporaires
*.pyc
*.pyo

# Dossier lib
lib/

# Fichiers binaires
*.exe
*.dll

# Fichiers de données
*.csv
*.json
*.xlsx
*.xls

# Fichiers images
*.jpg
*.png

# Fichiers audio
*.mp3
*.wav

# Fichiers vidéo
*.mp4
*.avi

# Fichiers secrets
**/*secret*